name: Run Tests

on: [push, pull_request]

jobs:
  Compilation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Compilation
        run: |
          mkdir build
          cd build
          cmake ..
          make
          make test
          
  Test_Add:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build and test add function
        run: |
          mkdir build
          cd build
          cmake ..
          make
          ./src/calculator add 10 5

  Test_Sub:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build and test sub function
        run: |
          mkdir build
          cd build
          cmake ..
          make
          ./src/calculator sub 10 5

  Test_Mul:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build and test mul function
        run: |
          mkdir build
          cd build
          cmake ..
          make
          ./src/calculator mul 10 5

  Test_Div:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build and test div function
        run: |
          mkdir build
          cd build
          cmake ..
          make
          ./src/calculator div 10 5

  Test_Car:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build and test car function
        run: |
          mkdir build
          cd build
          cmake ..
          make
          ./src/calculator car 10